// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#linkBack {
  text-align: center;
  margin-top: 95%;
}

.leftSide {
  margin-left: 5%;
  max-width: 55%;
  float: left;

}

.rightSide {
  margin-right: 5%;
  max-width: 55%;
  float: right;
}

.questionForm {
  margin-top: 20%;
}

.subject {
  text-align: center;
}

textarea {
    width: 300px;
    height: 150px;
}

input {
  width:300px;
  height: 100px;
}
